<%= form_for @list, :html => { :class => 'form-vertical' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field span9' %>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :compiled, :rows => 6, :class => 'text_area span9' %>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: '选择分类'}, :class => 'select' %>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.file_field :cover, :class => 'text_field' %>
      <p class="help-block"><strong>Note:</strong> JPG, JPEG, GIF, or PNG · 10MB file limit · At Least 560x420 pixels · 4:3 aspect ratio</p>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lists_path, :class => 'btn' %>
  </div>
<% end %>
