<!DOCTYPE html>
<html lang="en">
  <%= render "head" %>
  <body>
    <%= render "header" %>
    <%= render "running_board" %>
    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span9">
              <%= yield %>
            </div>
            <div id="sidebar" class="span3">
              <%= yield :sidebar %>
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
